body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    /*color: #818181;*/
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
ul {
	list-style: none;
}
li {
	display: inline-block;
}
.jumbotron {
    background-color: #7F181A;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo-small {
    color: #7F181A;
    font-size: 50px;
}
.logo {
    color: #7F181A;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
		background-color: transparent;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #7F181A;
}
.carousel-indicators li {
    border-color: #7F181A;
}
.carousel-indicators li.active {
    background-color: #7F181A;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #7F181A; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #7F181A;
    background-color: #fff !important;
    color: #7F181A;
}
.panel-heading {
    color: #fff !important;
    background-color: #7F181A !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #7F181A;
    color: #fff;
}
.navbar {
    margin-bottom: 0;
    background-color: #FFFFFF;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
		height: 55px;
}
.navbar li a, .navbar .navbar-brand {
    color: #000 !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #7F181A !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #7F181A;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;	
    animation-duration: 1s;	
    -webkit-animation-duration: 1s;
    visibility: visible;			
}
@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }	
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}

#logo {
	position: absolute;
	left: 1em;
	top: 0;
	height: 3em;
	line-height: 3em;
	letter-spacing: -1px;
	display: none;
}

.jumbotron { 
	background:url('../images/tacos.jpg') no-repeat center center fixed;
	margin-bottom: 0px;
	height: auto;
	width: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.jumbotron img {
	max-width: 75%;
	width: auto;
	height: auto;
}

.food-icon {
	width: 50px;
}

#menu, #review, #main-info {
	background:url('../images/backpattern.jpg') no-repeat center center fixed;
}

#menu-container, #review-container, #main-info-container {
	background: rgba(250,250,250,0.95) 
}

#soc {
	width: 425px;
	height: 425px;
	border-radius: 50%;
}

#main-info h3 {
	letter-spacing: 2px;
	text-transform: uppercase;
}

#main-info i {
	font-size: 40px;
}

a:-webkit-any-link {
	text-decoration: none;
	color: inherit;
}

.fa {
	padding: 0 15px;
}

#contact {
	text-align: center;
}

#contact a, .glyphicon {
	color: #7F181A;
}

#me, #contact a:hover {
	color: #41170B;
}

.contact-details li {
	margin: 0 11px;
}

.contact-details {
	padding: 0;
}

#footer-logo {
	height: 97px;
	width: 136px;
}

#credits {
	margin-top: 20px;
	font-size: 14px;
}

#copyright {
	font-size: 12px;
}

.price {
	text-align: right;
}

.item-container {
	text-align: left;
	width: 100%;
	display: block;
}

.item-container div {
	display: inline-block;
	height: 10px;
}

.item-image {
	width: 25%;
}

.menu-item {
	width: 50%;
}

.sub-item {
	font-size: 12px;
}

.price {
	width: 20%;
	text-align: right;
	font-size: 10px;
}

#menu h3, #menu h4 {
	text-transform: uppercase;
}

.navbar-collapse {
  right: 0px;
  position: absolute;
  border-top: 0px;
  background: white;
	text-align: right;
}

.navbar-nav {
	padding-right: 10px;
}
